/* .monthly-payment-container {
  background-color: #f8f9fa;
  
  border-radius: 10px;
}

.button-group {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.btn {
    color: #35383a;
    font-size: 16px;
    width: 144px;
    display: inline-block;
    border: 1px solid #35383a !important;
    padding: 6px 3px;
    border-radius: 5px;
    margin: 0 3px;
}

.btn-active {
    background: #35383a !important;
    color: #fff !important;
    opacity:unset !important;
}



.btn-inactive {
  background-color: #ffffff;
  color: #495057;
}

.btn:hover {
  opacity: 0.85;
}

h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    color: #14344a !important;
}

h2{
        font-size: 22px;
    margin: 20px 0;
}
.content p {
  font-size: 1rem;
  line-height: 1.5;
}

.image img {
  width: 100%;
  border-radius: 10px;
  display: block;
} */
